.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--lightGrey2-color);
}

.name {
  display: flex;
  padding: 6px 6px 0 6px;
}

.name span:not(:last-child) {
  margin-right: 5px;
}

.stripe {
  position: relative;
  width: 70%;
  height: 40px;
  padding-right: 6px;
  padding-left: 6px;
  text-align: end;
}

.stripe::after {
  position: absolute;
  top: 26%;
  width: 30%;
  padding-right: 6px;
  padding-left: 6px;
  content: 'Индикатор';
}