.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  padding: 20px 10px;
  opacity: 0.8;
  background-image: url('../../../assets/1.51bird.svg');
  background-repeat: no-repeat;
  background-size: 170%;
  border: 4px solid var(--darkAzure-color);
  border-radius: 20px;
}