.wrapper {
  max-width: 1120px;
  margin: 10px auto 0px auto;
  padding: 0 10px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text {
  max-width: 222px;
  color: var(--tomato-color);
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
}

.links {
  display: flex;
}