.item {
  box-sizing: border-box;
  margin: 0px;
  margin-right: auto;
  padding: 6px;
  opacity: 0.8;
  background-color: var(--lightGrey2-color);
  border: 1px solid var(--lightGrey2-color);
  border-radius: 8px;
  cursor: pointer;
}

.item:not(:first-child),
.inner2 {
  margin-top: 10px;
}

.inner1,
.inner2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 32px;
}

.text {
  display: block;
  max-width: 93%;
  font-size: 16px;
  font-weight: 500;
  word-break: break-all;
  color: var(--black-color);
}

.checkbox[type=checkbox] {
  display: block;
  width: 13px;
  height: 20px;
  margin: 0;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}

.date {
  display: block;
  max-width: 93%;
  font-size: 13px;
  font-weight: 600;
  color: var(--black-color);
}

.remove {
  display: none;
  width: 13px;
  height: 20px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}

.item:hover .remove {
  display: block;
  color: var(--tomato-color);
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

@media (max-width: 767px) {

  .inner1,
  .inner2 {
    margin-left: 10px;
  }

  .remove {
    display: block;
    padding: 6px 10px;
    font-weight: 900;
  }

  .checkbox[type=checkbox] {
    margin: 5px 10px;
  }

}