.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 1120px;
  height: auto;
  margin: 10px auto 0px auto;
  padding: 20px 10px;

  font-size: 18px;
  font-style: normal;
  opacity: 0.8;

  color: var(--dimgray-color);
  background-image: url('../../../assets/images/1.51bird.svg');
  background-repeat: no-repeat;
  background-size: 170%;
  border: 4px solid var(--darkAzure-color);
  border-radius: 20px;
}

.control,
.enteringTask,
.outputTask {
  align-self: stretch;
  width: 478px;
  padding: 0px 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.listTask {
  overflow: auto;
  min-height: 0px;
  max-height: 320px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.listTask::-webkit-scrollbar {
  width: 12px;
}

.listTask::-webkit-scrollbar-track {
  background-color: var(--lightGrey2-color);
  border: 1px solid var(--lightGrey2-color);
  border-radius: 8px;
}

.listTask::-webkit-scrollbar-thumb {
  background-color: var(--lightGrey-color);
  border: 1px solid var(--lightGrey-color);
  border-radius: 8px;
}

.listTask::-webkit-scrollbar-thumb:hover {
  background-color: var(--mapleGreen-color);
  border: 1px solid var(--mapleGreen-color);
  cursor: pointer;
}

.listTask::-webkit-scrollbar-thumb:active {
  background-color: var(--emeraldGreen-color);
  border: 1px solid var(--emeraldGreen-color);
}


@media (max-width: 1023px) {
  .content {
    font-size: 16px;
    background-size: cover;
  }

  .control,
  .enteringTask,
  .outputTask {
    max-width: 600px;
    margin: auto;
  }

  .enteringTask {
    margin-top: 100px;
  }

  .outputTask {
    margin-top: 10px;
  }

  .listTask {
    max-height: 250px;
  }
}

@media (max-width: 767px) {
  .content {
    font-size: 15px;
  }

  .control,
  .enteringTask,
  .outputTask {
    padding: 0px;
  }

  .buttons> :nth-child(2) {
    width: 33%;
  }
}