.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 1120px;
  height: auto;
  margin: 10px auto 0px auto;
  padding: 20px 10px;

  font-size: 18px;
  font-style: normal;
  opacity: 0.8;

  color: var(--dimgray-color);
  background-image: url('../../../assets/images/1.51bird.svg');
  background-repeat: no-repeat;
  background-size: 170%;
  border: 4px solid var(--darkAzure-color);
  border-radius: 20px;
}

.control,
.enteringTask,
.outputTask {
  align-self: stretch;
  width: 478px;
  padding: 0px 10px;
}

@media (max-width: 1023px) {
  .content {
    font-size: 16px;
    background-size: cover;
  }

  .control,
  .enteringTask,
  .outputTask {
    max-width: 600px;
    margin: auto;
  }

  .enteringTask {
    margin-top: 100px;
  }

  .outputTask {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .content {
    font-size: 15px;
  }

  .control,
  .enteringTask,
  .outputTask {
    padding: 0px;
  }

}